APP_BASE_URL=https://csmsu.info
DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/DBNAME
OAUTH_SIMULATION_MODE=true
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_APPLE_CLIENT_ID=
OAUTH_APPLE_CLIENT_SECRET=
OAUTH_MICROSOFT_CLIENT_ID=
OAUTH_MICROSOFT_CLIENT_SECRET=
